KAA-JSP/web/WEB-INF/wsdl/localhost_8080/MarketPlaceService/MarketPlaceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.MarketPlaceService.KAA.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.MarketPlaceService.KAA.org/" name="MarketPlaceService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service.MarketPlaceService.KAA.org/" schemaLocation="http://localhost:8080/MarketPlaceService/MarketPlaceService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieve_all_product">
<part name="parameters" element="tns:retrieve_all_product"/>
</message>
<message name="retrieve_all_productResponse">
<part name="parameters" element="tns:retrieve_all_productResponse"/>
</message>
<message name="get_sales_purchases">
<part name="parameters" element="tns:get_sales_purchases"/>
</message>
<message name="get_sales_purchasesResponse">
<part name="parameters" element="tns:get_sales_purchasesResponse"/>
</message>
<message name="search_product">
<part name="parameters" element="tns:search_product"/>
</message>
<message name="search_productResponse">
<part name="parameters" element="tns:search_productResponse"/>
</message>
<message name="get_product">
<part name="parameters" element="tns:get_product"/>
</message>
<message name="get_productResponse">
<part name="parameters" element="tns:get_productResponse"/>
</message>
<message name="buy">
<part name="parameters" element="tns:buy"/>
</message>
<message name="buyResponse">
<part name="parameters" element="tns:buyResponse"/>
</message>
<message name="delete_product">
<part name="parameters" element="tns:delete_product"/>
</message>
<message name="delete_productResponse">
<part name="parameters" element="tns:delete_productResponse"/>
</message>
<message name="getLikes">
<part name="parameters" element="tns:getLikes"/>
</message>
<message name="getLikesResponse">
<part name="parameters" element="tns:getLikesResponse"/>
</message>
<message name="getPurchases">
<part name="parameters" element="tns:getPurchases"/>
</message>
<message name="getPurchasesResponse">
<part name="parameters" element="tns:getPurchasesResponse"/>
</message>
<message name="isLiked">
<part name="parameters" element="tns:isLiked"/>
</message>
<message name="isLikedResponse">
<part name="parameters" element="tns:isLikedResponse"/>
</message>
<message name="add_edit_product">
<part name="parameters" element="tns:add_edit_product"/>
</message>
<message name="add_edit_productResponse">
<part name="parameters" element="tns:add_edit_productResponse"/>
</message>
<message name="processLike">
<part name="parameters" element="tns:processLike"/>
</message>
<message name="processLikeResponse">
<part name="parameters" element="tns:processLikeResponse"/>
</message>
<message name="getYourProduct">
<part name="parameters" element="tns:getYourProduct"/>
</message>
<message name="getYourProductResponse">
<part name="parameters" element="tns:getYourProductResponse"/>
</message>
<portType name="MarketPlaceService">
<operation name="retrieve_all_product">
<input wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/retrieve_all_productRequest" message="tns:retrieve_all_product"/>
<output wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/retrieve_all_productResponse" message="tns:retrieve_all_productResponse"/>
</operation>
<operation name="get_sales_purchases">
<input wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/get_sales_purchasesRequest" message="tns:get_sales_purchases"/>
<output wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/get_sales_purchasesResponse" message="tns:get_sales_purchasesResponse"/>
</operation>
<operation name="search_product">
<input wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/search_productRequest" message="tns:search_product"/>
<output wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/search_productResponse" message="tns:search_productResponse"/>
</operation>
<operation name="get_product">
<input wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/get_productRequest" message="tns:get_product"/>
<output wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/get_productResponse" message="tns:get_productResponse"/>
</operation>
<operation name="buy">
<input wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/buyRequest" message="tns:buy"/>
<output wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/buyResponse" message="tns:buyResponse"/>
</operation>
<operation name="delete_product">
<input wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/delete_productRequest" message="tns:delete_product"/>
<output wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/delete_productResponse" message="tns:delete_productResponse"/>
</operation>
<operation name="getLikes">
<input wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/getLikesRequest" message="tns:getLikes"/>
<output wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/getLikesResponse" message="tns:getLikesResponse"/>
</operation>
<operation name="getPurchases">
<input wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/getPurchasesRequest" message="tns:getPurchases"/>
<output wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/getPurchasesResponse" message="tns:getPurchasesResponse"/>
</operation>
<operation name="isLiked">
<input wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/isLikedRequest" message="tns:isLiked"/>
<output wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/isLikedResponse" message="tns:isLikedResponse"/>
</operation>
<operation name="add_edit_product">
<input wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/add_edit_productRequest" message="tns:add_edit_product"/>
<output wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/add_edit_productResponse" message="tns:add_edit_productResponse"/>
</operation>
<operation name="processLike">
<input wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/processLikeRequest" message="tns:processLike"/>
<output wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/processLikeResponse" message="tns:processLikeResponse"/>
</operation>
<operation name="getYourProduct">
<input wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/getYourProductRequest" message="tns:getYourProduct"/>
<output wsam:Action="http://Service.MarketPlaceService.KAA.org/MarketPlaceService/getYourProductResponse" message="tns:getYourProductResponse"/>
</operation>
</portType>
<binding name="MarketPlaceServicePortBinding" type="tns:MarketPlaceService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieve_all_product">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_sales_purchases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="search_product">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_product">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete_product">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLikes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPurchases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isLiked">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add_edit_product">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="processLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getYourProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MarketPlaceService">
<port name="MarketPlaceServicePort" binding="tns:MarketPlaceServicePortBinding">
<soap:address location="http://localhost:8080/MarketPlaceService/MarketPlaceService"/>
</port>
</service>
</definitions>